h1, h2, h3, h4, h5, h6{
  text-transform: capitalize;
}
.navbar {
  min-width: 320px;
}
body {
  position: relative;
}

.boddy_content {
  margin-top: 300px;
  min-height: 630px;
  min-width: 325px;
  background-color: #ffffff;
}

.fooder_content {
  min-height: 120px;
}

.img_header {
  z-index: 2;
  min-width: 325px;
  height: 400px;
  background-image: url(./assets/img/pokebola2.png),
    url(./assets/img/pokemonAll.jpg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transform: translate3d(-0%, 0px, 0px);
  -moz-transform: translate3d(-0%, 0px, 0px);
  -ms-transform: translate3d(-0%, 0px, 0px);
  -o-transform: translate3d(-0%, 0px, 0px);
}


nav > a {
  text-transform: capitalize;
}

li > a {
  text-transform: capitalize;
}

.our {
  background-color: #acacac;
  height: 60px;
}

.our > h3 {
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flexbox;
  justify-content: space-between;
  margin-top: 5%;
}

.card-header,
.card-text {
  text-transform: capitalize;
}

.Copyrigth {
  margin-top: 5%;
}
.Copyrigth > h4,
h6 {
  text-transform: capitalize;
  color: #ffffff;
}

.Copyrigth > p {
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 5%;
}

.Copyrigth > ul > li {
  text-transform: capitalize;
  color: #ffffff;
}
.fa-facebook {
  size: 9px;
}

.icons {
  font-size: 2em;
  color: #dadada;
}
.page-item {
  margin-left: 20%;
}

.card-name-Text {
  background-color: #000000;
}
.card-name-Text > h2 {
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 4%;
}
.h_details {
  text-transform: capitalize;
}

.card_breeders {
  width: 4rem;
}

.farm_title {
  background-color: black;
  color: #ffffff;
}


.PKrow {
  min-width: 40%;
  max-height: 370px;
}

.mx-auto {
  margin-top: 2%;
  margin-bottom: 1%;
}

h1 {
  text-transform: capitalize;
}

.container-xl {
  width: 100%;
}

.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
}
.poke_nav {
  margin-top: 3%;
}
.poke_list {
  margin-top: 7%;
}

