.navbar {
  min-width: 320px;
  position: absolute;
}

.boddy_content {
  margin-top: 300px;
  min-height: 630px;
  min-width: 325px;
  background-color: #ffffff;
}

.boddy_content_pokemon{
  min-height: 730px;
  background-color: #ffffff;
}

.fooder_content {
  min-height: 120px;
}

body {
  min-width: 325px;
  background-image: url(/assets/img/pokebola2.png),
    url(/assets/img/pokemonAll.jpg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transform: translate3d(-0%, 0px, 0px);
  -moz-transform: translate3d(-0%, 0px, 0px);
  -ms-transform: translate3d(-0%, 0px, 0px);
  -o-transform: translate3d(-0%, 0px, 0px);
}

nav > a {
  text-transform: capitalize;
}

li > a {
  text-transform: capitalize;
}

.our {
  box-sizing: content-box;
}

.card {
  display: flexbox;
  justify-content: space-between;
  margin-top: 5%;
}

.card-header,
.card-text {
  text-transform: capitalize;
}

.Copyrigth {
margin-top: 5%;
}
.Copyrigth > h4, h6 {
  text-transform: capitalize;
  color: #ffffff;
}



.Copyrigth > p {
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 5%;
}

.Copyrigth > ul > li {
  text-transform: capitalize;
  color: #ffffff;
}
.fa-facebook{
size: 9px;

}

.icons{
  font-size: 2em; 
  color: #dadada;
}
